@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans+JP&family=Roboto:wght@200;400&display=swap');
*{
  margin: 0;
  font-family: 'Noto Sans JP' , sans-serif;
  
  
}

*::-webkit-scrollbar{
 
  width: .8rem;
 }
 *::-webkit-scrollbar-thumb{
  background: rgb(60, 59, 59);
 }
